@font-face {
	font-family: 'SFBold';
	src: url('../fonts/SFBold.woff2') format('woff2'),
		 url('../fonts/SFBold.ttf') format('truetype'),
		 url('../fonts/SFBold.woff') format('woff');
}

body {
	margin: 0px;
	background: rgb(32, 40, 48);
	color: #FFF;
}

.wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#notes {
	overflow: scroll;
	width: 65%;
	height: 100vh;
	font-size: 24px;
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
}

#tracker {
	overflow: scroll;
	width: 35%;
	height: 100vh;
	font-family: SFBold;
	font-variant-ligatures: discretionary-ligatures;
	text-shadow: 1px 1px 0 #414951;
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
}

#tracker h2 {
	width: 100%;
}

.header {
	width: -moz-calc(100% - 15px);
	width: -webkit-calc(100% - 15px);
	width: -o-calc(100% - 15px);
	width: calc(100% - 15px);
	margin: 5px 15px;
	margin-top: 10px;
	overflow: auto;
}

.col-left {
	width: 40%;
}

.col-right {
	width: 55%;
}

.col-right img {
	width: 100%;
}
		
.card-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card-header {
	width: 90%;
	margin: 5px 5%;
	display: flex;
	justify-content: center;
}

.card {
	width: 154px;
	height: 150px;
	border: 1px solid black;
	border-radius: 5px;
	display: inline-block;
	margin: 5px;
}

.standard {
	background: #fbba20
}

.mega {
	background: #28aafb;
}

.giga {
	background: #db2020;
}

.title {
	font-size: 16px;
	padding: 5px;
}

.icon {
	width: 144px;
	image-rendering: -moz-crisp-edges;
	image-rendering: pixelated;
	display: block;
	margin: 0px auto;
}

.found {
	opacity: 0.35;
}

.reset {
	width: 20%;
	height: 30px;
	font-size: 20px;
	margin-top: 10px;
}

.collapse:hover, .expand:hover {
	cursor: pointer;
}

.right {
	display: inline-block;
	float: right;
}

.hidden {
	display: none;
}
